# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
# Ignore db
*.db

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

#Edit in GIThub
#git rm --cached --ignore-unmatch package-lock.json
package-lock.json
#

# Users Environment Variables
.idea
.vscode/*

# minified & compiled files

bin
client/libs/bower/
mock/node_modules
