<div class="top-bar
            col-xs-12
            col-sm-12
            col-md-12
            col-lg-12">
    <img class="img" ng-src="{{ model.images.pict }}" alt="{{ model.images.logo.alt }}">
</div>
<div class="div-logo">
    <img class="img-logo-click" ng-src="{{ model.images.logo.src }}" alt="{{ model.images.logo.alt }}" ng-click="goTo(model.images.logo.href)">
    <div class="favor-btn">
        <button class="btn-later" ng-click="openFav()"><i class="fa fa-heart" aria-hidden="true"></i></button>
    </div>
    <div class="favor-list non-vis"
         id="favorits"
         favorites-list=""
         data-model="favorites">

    </div>
</div>
