<div class="row
            div-block-friends">
    <div class="col-xs-4
                col-sm-4
                col-md-4
                col-lg-4
                preview-content-templates">
        <div class="col-xs-6
                    col-sm-6
                    col-md-6
                    col-lg-6
                    col-xs-offset-2
                    preview-item">
            <span class="txt-h2">Screen keyboard:</span>
            <br>
            <span class="preview-text">In this example, the render of the on-screen keyboard is implemented, it is compiled using OOP (ES6) using native JavaScript</span>
        </div>

    </div>
    <div class="col-xs-6
                col-sm-8
                col-md-8
                col-lg-8 friends-block row">
        <div class="block">

            <input type="text" class="inputKeyboard inputs" id="inputKeyboard" placeholder="put cursor here">

        </div>
        <div class="container"></div>
        <div class="wrapper"></div>
    </div>
</div>
<div class="row
            div-block-friends">
    <div class="col-xs-4
                col-sm-4
                col-md-4
                col-lg-4
                preview-content-templates">
        <div class="col-xs-6
                    col-sm-6
                    col-md-6
                    col-lg-6
                    col-xs-offset-2
                    preview-item">
            <span class="txt-h2">Form builder:</span>
            <br>
            <span class="preview-text">In this example, the rendering of a form for sending messages via native JavaScript</span>
        </div>

    </div>
    <div class="col-xs-6
                col-sm-8
                col-md-8
                col-lg-8 friends-block row">
        <input type="submit" class="submit" value="render" ng-click="jscrFormRender()" id="renderFormBilder">
        <div class="row-content-inside form"><form method="GET" id="place" action="#" class="non-vis"></form> </div>
    </div>
</div>
