@import "../../../../sass/variables"
@import "../../../../sass/type-defaults"
@import "../../../../sass/functions"

.user-contactList-photo
  display: flex
  align-items: center
  padding-left: 20px
  img
    height: 50px
    align-self: center
    @include set-border(0px, 50%)

.friends-block
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  padding: 20px
  background-color: #ebf3ee

.friends-block-inside
  display: flex
  flex-direction: row
  align-items: stretch
  justify-content: center
  padding: 20px
  background-color: #ebf3ee

.div-block-friends
  display: flex
  flex-direction: row
  width: 80%
  background-color: white
  border-bottom: 1px solid black
  box-shadow: 0 1rem 3rem rgba(black, 0.3)
  margin-bottom: 15px

.preview-content-templates
  flex-direction: column
  width: 70%
  height: auto
  right: 0
  top: 0
  padding: 16px
  margin-right: 16px

.preview-content-messages
  flex-direction: column
  margin-left: 40px

.block-with-animation
  display: flex
  align-items: center
  justify-content: center
  color: white
  font-size: 16px
  background-color: map-get($colors, 'blue')
  height: 80px
  width: 80px
  margin: 15px
  -webkit-transition: all 0.3s ease
  -moz-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  transition: all 0.3s ease


.rotate:hover
  -webkit-transform: rotateZ(20deg)
  -ms-transform: rotateZ(20deg)
  transform: rotateZ(20deg)

.to-circle:hover
  border-radius: 50%
  background-color: map-get($colors, 'red')

.move-up:hover
  opacity: 0.1
  -webkit-transform: translate(0,-50px)
  -moz-transform: translate(0,-50px)
  -o-transform: translate(0,-50px)

.move-down:hover
  opacity: 0.1
  -webkit-transform: translate(0,50px)
  -moz-transform: translate(0,50px)
  -o-transform: translate(0,50px)

.move-down-and-big:hover
  font-size: 20px
  z-index: 100
  -webkit-transform: scale(1.7)
  -ms-transform: scale(1.7)
  transform: scale(1.7)

.move-up-and-small:hover
  font-size: 10px
  -webkit-transform: scale(0.7)
  -ms-transform: scale(0.7)
  transform: scale(0.7)

.add-border:hover
  box-shadow: inset 0 0 0 10px map-get($colors, 'red')
  font-size: 10px

.rotate-text
  -webkit-transition: all 0.7s ease
  -moz-transition: all 0.7s ease
  -o-transition: all 0.7s ease
  transition: all 0.7s ease
  &:hover
    -webkit-transform: rotateZ(180deg)
    -ms-transform: rotateZ(180deg)
    transform: rotateZ(180deg)
