<div class="row
            div-block-friends">
    <div class="col-xs-4
                col-sm-4
                col-md-4
                col-lg-4
                preview-content-templates">
        <div class="preview-item">
            <span class="txt-standart">Template#1</span>
            <br>
            <span class="preview-text">В этом примере реализован таймер</span>
        </div>
        <div  class="preview-item">
            <form >
                <label> QQ  </label>
            </form>


        </div>
    </div>
    <div class="col-xs-6
                col-sm-8
                col-md-8
                col-lg-8
                friends-block
                contactList-user
                row">
        <div class="col-xs-2
                    col-sm-2
                    col-md-2
                    col-lg-2">
            <label class="heading-3">My TIMER:</label>

        </div>
        <div class="col-xs-10
                    col-sm-10
                    col-md-10
                    col-lg-10
                    friends-block-inside">
            <span class="span-time">{{hours}} : {{minuts}} : {{seconds}}</span>
            <span class="span-time"></span>
            <span class="span-time"></span>
            <div class="div-row non-vis" id="end">
                <span class="span-end"> Ваш отсчет остановлен на {{hours}}:{{minuts}}:{{seconds}}</span>
            </div>
        </div>
        <div class="col-xs-2
                    col-sm-2
                    col-md-2
                    col-lg-2">
            <label class="heading-3"> </label>

        </div>
        <div class="col-xs-10
                    col-sm-10
                    col-md-10
                    col-lg-10
                    friends-block-inside">
            <button type="button" ng-click="startCount()" class="btn-later-sm" id="playDiv"><i class="fa fa-play-circle" id="play"></i></button>
            <button type="button" ng-dblclick="pauseCount()" class="btn-read-sm" id="pauseDiv"><i class="fa fa-pause" id="pause"></i></button>
            <button type="button" ng-click="resetCount()" class="btn-download-sm"><i class="fa fa-retweet"></i></button>

        </div>
    </div>
</div>

