<div class="col-xs-10
            col-sm-10
            col-md-9
            col-lg-9
            book-block-01
            preview-container"
         ng-repeat="item in books">
    <div class="col-xs-10
                col-sm-10
                col-md-9
                col-lg-9
                preview-content">

        <img ng-src="{{ item.img }}" class="img-book" ng-attr-id="{{item.id+'pict'}}">
        <div class="block-preview">
            <span class="txt-standart non-vis" ng-attr-id="{{ item.id }}">{{ item.description }}</span>
        </div>

    </div>
    <div class="col-xs-2
                col-sm-2
                col-md-3
                col-lg-3
                btn-block">
        <label class="heading-3">{{item.name}}</label>
        <label class="txt-h2">{{ item.author}}</label>
        <div>
            <button class="btn-later" ng-click="showDescr(item.id, item.id+'pict')"> <i class="fa fa-eye" aria-hidden="true"></i></button>
        </div>
        <div>
            <button class="btn-download"><i class="fa fa-cloud-download" aria-hidden="true"></i></button>
        </div>
        <div>
            <button class="btn-read" ng-click="addFav(item)"><i class="fa fa-heart" aria-hidden="true"></i></button>
        </div>
    </div>
</div>